.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-inline: 56px;
  background: linear-gradient(180deg, var(--clr-GRADIENT-slate-blue)-40%, var(--clr-GRADIENT-royal-blue));
  padding-top: 24px;
  padding-bottom: 40px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.title {
  font-size: calc(18rem / 16);
  color: var(--clr-NEUTRAL-light-levander);
}

@media (min-width: 700px) {
  .wrapper {
    flex: 1;
    border-radius: 32px;
    padding-top: 40px;
  }

  .title {
    font-size: calc(24rem / 16);
  }
}
