.wrapper {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 18px;
  background: linear-gradient(0deg, var(--clr-GRADIENT-persian-blue), var(--clr-GRADIENT-violet-blue));
}

.overall {
  color: white;
  font-size: calc(56rem / 16);
  font-weight: var(--fw-extrabold);
}

.text {
  color: var(--clr-NEUTRAL-light-levander);
  font-weight: var(--fw-bold);
  opacity: 50%;
}

@media (min-width: 700px) {
  .wrapper {
    width: 200px;
    height: 200px;
  }

  .overall {
    font-size: calc(72rem / 16);
  }

  .text {
    font-size: calc(18rem / 16);
  }
}
